<?xml version="1.0" encoding="UTF-8"?>
<!--All < Trace < Debug < Info < Warn < Error < Fatal < OFF-->
<Configuration status="DEBUG">
<!--idea的console不支持log4j2的ASCII的颜色，用插件GrepConsole解决，\n后好像又不兼容了...-->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[P5][%p] [%d{yyyy-MM-dd HH:mm:ss}] %C.%M(%L)\n%m%n}"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="zust.itee.se" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.alibaba" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
